<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <nav th:replace="fragments :: navigationLinks"></nav>

    <form method="post" action="/events/edit">
        <div class="from-group">
            <label>Event Name
            <input class="form-control" name="name" th:value="${event.getName()}" type="text"/>
            </label>
        </div>
        <div class="from-group">
            <label>Event Description
                <input class="form-control" name="description" th:value="${event.getDescription()}" type="text"/>
            </label>
        </div>
        <input type="hidden" name="eventId" th:value="${event.getId()}">

        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Edit Event"/>
        </div>
    </form>

</body>
</html>